<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReaperRead | Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    {% include "components/navbar.html.jinja" %}
    <h1 class="text-center py-3 text-decoration-underline">Cart</h1>
    {% if products | length > 0 %}
    <div class="table-responsive">
        <table class="table container">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col-1"></th>
                </tr>
            </thead>
            <tbody>
                {%for product in products%}
                <tr>
                    <td><img src="{{product['image']}}" class="rounded" alt="{{product['description']}}" height="80">
                        {{product["name"]}}</td>
                    <td>{{ "%.2f" | format(product["price"]) }}</td>
                    <td>
                        <form id="updForm-{{product['id']}}" method="post" action="/cart/{{product['id']}}/upd">
                            <input type="number" class="form-control" style="width: 80px;"
                                value="{{product['quantity']}}" min="1" name="qty">
                        </form>
                    </td>
                    <td>{{ "%.2f" | format(product["price"]*product["quantity"]) }}</td>
                    <td>
                        <button form="updForm-{{product['id']}}" class="btn btn-primary" type="submit"><svg
                                viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15"
                                height="15">
                                <path
                                    d="M4.5 14.5v-3a1 1 0 011-1h4a1 1 0 011 1v3m3 0h-12a1 1 0 01-1-1v-12a1 1 0 011-1h8.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V13.5a1 1 0 01-1 1z"
                                    stroke="currentColor"></path>
                            </svg></button>

                        <form method="post" action="/cart/{{product['id']}}/del" class="d-inline">
                            <button type="submit" class="btn btn-danger"><svg viewBox="0 0 15 15" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" width="15" height="15">
                                    <path
                                        d="M4.5 3V1.5a1 1 0 011-1h4a1 1 0 011 1V3M0 3.5h15m-13.5 0v10a1 1 0 001 1h10a1 1 0 001-1v-10M7.5 7v5m-3-3v3m6-3v3"
                                        stroke="currentColor"></path>
                                </svg></button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    
    <div class="row justify-content-end">
        <h3 class="col-4 custom-text">Total: ${{ "%.2f" | format(total) }}</h3>
        <form class="justify-content-center col-5" action="/cart/checkout">
            <button type="submit" class="btn btn-warning">Checkout</button>
        </form>
    </div>

    {%else%}
    <h2 class="text-center">Your cart is empty.</h2>
    <br>
    <h3 class="text-center">Click <a class="link-info" href="/browse">here</a> to shop for items to put in your cart.
    </h3>
    {%endif%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>